@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  /*font-family: "Poppins", serif;*/
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 82vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
}
nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 10px;
  padding: 0 23px;
}
.hero > :nth-child(1) {
  font-family: "Poppins", serif;
  font-weight: 1000;
  font-size: 56px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.curve-container {
  position: relative;

  background-color: #0b0d1a;
}
.curve-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 100%;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
  border-radius: 50% 50% 0 0;
  margin-top: -0.25rem;
}
.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}
.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
}

.secImg {
  position: relative;
}
.secImg img {
  width: 555px;
  position: relative;
  z-index: 15;
}
.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}
section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  font-family: "Poppins", serif;
}
section.first > div :nth-child(2) {
  font-size: 24px;
  font-family: "Martel Sans", serif;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}
.faq h2 {
  font-family: "Poppins", serif;
  text-align: center;
  font-size: 48px;
}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  font-family: "Poppins", serif;
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
}
footer {
  font-family: "Martel Sans", serif;
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
@media screen and (max-width: 1300px) {
  nav{
    max-width: 90vw;
  }


  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
  .hero > :nth-child(1) {
    font-size: 32px;
  }
  .hero > :nth-child(2) {
    font-size: 18px;
  }
  .hero > :nth-child(3) {
    font-size: 18px;
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer{
    max-width: 90vw;
  }

  .footer-item {
    align-items: center;
  }
}
@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 55px;
  }
}
.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
